.bm-burger-button {
  z-index: 1001 !important;
  position: fixed;
  width: 36px;
  height: 30px;
  right: 50px;
  top: 50px;
}

.bm-menu-wrap{
  z-index: 2000 !important;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: white;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  z-index: 2000;
  background: #373a47;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  z-index: 1001 !important;
  background: rgba(0, 0, 0, 0.3);
}

.navbar {
  z-index: 1000;
  position: absolute;
  bottom: 10%;
  left: 0;
  right: 0;
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;
  &-left {
    flex: 2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &-center {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  &-right {
    flex: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  ul {
    overflow: hidden;
    list-style-type: none;
    margin: 5%;
  }
  li {
    height: 100%;
    float: left;
    margin-right: 0px;
    border-right: 1px solid #aaa;
    padding: 0 20px;
  }
  li:last-child {
    border-right: none;
  }
  li a {
    text-decoration: none;
    color: #ccc;
    font: 25px/1 Helvetica, Verdana, sans-serif;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;

    &:hover {
      color: #000;
    }
  }
  
  li.contrast a {
    font-weight: bold;
    color: #333;

    &:hover {
      color: #fff;
    }
  }
}